:root {
    --easing: cubic-bezier(.25, 1.7, .35, .8);
    --duration: 0.5s;
}

.arrow-icon {
    height: 2.8em;
    width: 2.8em;
    display: block;
    padding: 0.5em;
    margin: 1em auto;
    position: relative;
    
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-bar {
    position: absolute;
    background-color: transparent;
    top: -24px;
    left: 25px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(45deg);
    float: right;
    border-radius: 2px;
}

.left-bar:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all var(--duration) var(--easing);
    z-index: -1;
}

.right-bar {
    position: absolute;
    background-color: transparent;
    top: -1px;
    left: 24px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-45deg);
    float: right;
    border-radius: 2px;
}

.right-bar:after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all calc(2 * var(--duration)) var(--easing);
    z-index: -1;
}


.open>.left-bar:after {
    transform-origin: center center;
    transform: rotate(-70deg);
    transform: translate(0px, 32px);
}


.open>.right-bar:after {
    /* transform-origin: center center;
    transform: rotate(70deg); */
    border-radius: 10px 6px 6px 10px;
}